# Dictionaries

## Create a dictionary

In [25]:
d1 = {}
d2 = dict()
post = dict(user='Christian', content='Hello!', following=True)

## Add values

In [26]:
d2['George'] = 24
d2['Tom'] = 32
d2['Jenny'] = 18
print(d2)

{'George': 24, 'Tom': 32, 'Jenny': 18}

### Update method

In [27]:
new_people = [('Greg', 33),('Jordan', 40), ('Xavier', 50)] # list of tuples
d2.update(new_people)
print(d2)

{'George': 24, 'Tom': 32, 'Jenny': 18, 'Greg': 33, 'Jordan': 40, 'Xavier': 50}

## Access/Update values by key

In [28]:
print(d2['George'])
print(d2['Tom'])
print(post['user'])
d2['Tom'] += 1
print(d2['Tom'])

24
32
Christian
33

## Loop through key-value pairs

In [24]:
for key, value in d2.items():
    print('Key: ' + key)
    print('Value: ' + str(value) + '\n')

Key: George
Value: 24

Key: Greg
Value: 33

Key: Jordan
Value: 40

Key: Xavier
Value: 50

## Example Dictionary Loop

In [14]:
# Definition of dictionary
europe = {'spain':'madrid', 'france':'paris', 'germany':'berlin',
          'norway':'oslo', 'italy':'rome', 'poland':'warsaw', 'austria':'vienna' }
          
# Iterate over europe
for country, capital in europe.items():
    print(f'the capital of {country} is {capital}')

the capital of spain is madrid
the capital of france is paris
the capital of germany is berlin
the capital of norway is oslo
the capital of italy is rome
the capital of poland is warsaw
the capital of austria is vienna

## JSON

JSON data maps directly to Python dictionaries, allowing for easy storage, access, and manipulation.

In [15]:
import json

json_data = '{"name":"Christian","age":34,"country":"USA"}'

christian = json.loads(json_data)
print(christian['country'])

USA

## Group data by keys

In [30]:
employees = [
    {'name': 'Alice', 'dept':'Sales'},
    {'name': 'Bob', 'dept':'Sales'},
    {'name': 'Charlie', 'dept':'Finance'},
    {'name': 'David', 'dept':'Finance'}
]

grouped = { }

for employee in employees:
    department = employee['dept']
    if department not in grouped:
        grouped[department] = []
    grouped[department].append(employee['name'])

grouped

{'Sales': ['Alice', 'Bob'], 'Finance': ['Charlie', 'David']}

## Safely access keys

By default, accessing a dictionary with an invalid key raises an error. The dict.get() method allows for safe handling of this search without throwing an error if the key does not exist. Rather it returns None or a provided value.

In [31]:
grouped.get('Sales')
grouped.get('HR', 'Not found')

'Not found'

## Pop / Delete

In [32]:
del d2['Tom']
print(d2)

{'George': 24, 'Jenny': 18, 'Greg': 33, 'Jordan': 40, 'Xavier': 50}

In [33]:
popped_value = d2.pop('Jenny')
print(popped_value)

18

In [34]:
# Provide a default value as the second argument to pop safely
popped_again = d2.pop('Craig', None)
print(popped_again)

None

## Items method

Returns a tuple of the dictionary contents for easy unpacking

In [37]:
for name, dept in employees[0].items():
    print(name)
    print(dept)

name
Alice
dept
Sales

## Using in keyword to safely locate a value

In [41]:
employee = employees[0]

name = 'name'

if name in employee:
    print(employee[name])

Alice