# Dictionaries

## Create a dictionary

In [12]:
d1 = {}
d2 = dict()
post = dict(user='Christian', content='Hello!', following=True)

## Add values

In [13]:
d2['George'] = 24
d2['Tom'] = 32
d2['Jenny'] = 18
print(d2)

{'George': 24, 'Tom': 32, 'Jenny': 18}

### Update method

In [11]:
new_people = [('Greg', 33),('Jordan', 40), ('Xavier', 50)] # list of tuples
d2.update(new_people)
print(d2)

{'George': 24, 'Tom': 32, 'Jenny': 18, 'Greg': 33, 'Jordan': 40, 'Xavier': 50}

## Access/Update values by key

In [3]:
print(d2['George'])

24

In [4]:
print(d2['Tom'])

32

In [20]:
print(post['user'])

Christian

In [5]:
d2['Tom'] += 1
print(d2['Tom'])

33

## Loop through key-value pairs

In [6]:
for key, value in d2.items():
    print('Key: ' + key)
    print('Value: ' + str(value) + '\n')

Key: George
Value: 24

Key: Tom
Value: 33

Key: Jenny
Value: 18

## Example Dictionary Loop

In [1]:
# Definition of dictionary
europe = {'spain':'madrid', 'france':'paris', 'germany':'berlin',
          'norway':'oslo', 'italy':'rome', 'poland':'warsaw', 'austria':'vienna' }
          
# Iterate over europe
for country, capital in europe.items():
    print(f'the capital of {country} is {capital}')

the capital of spain is madrid
the capital of france is paris
the capital of germany is berlin
the capital of norway is oslo
the capital of italy is rome
the capital of poland is warsaw
the capital of austria is vienna

## JSON

JSON data maps directly to Python dictionaries, allowing for easy storage, access, and manipulation.

In [6]:
import json

json_data = '{"name":"Christian","age":34,"country":"USA"}'

christian = json.loads(json_data)
print(christian['country'])

USA

## Group data by keys

In [2]:
employees = [
    {'name': 'Alice', 'dept':'Sales'},
    {'name': 'Bob', 'dept':'Sales'},
    {'name': 'Charlie', 'dept':'Finance'},
    {'name': 'David', 'dept':'Finance'}
]

grouped = { }

for employee in employees:
    department = employee['dept']
    if department not in grouped:
        grouped[department] = []
    grouped[department].append(employee['name'])

grouped

{'Sales': ['Alice', 'Bob'], 'Finance': ['Charlie', 'David']}

## Safely access keys

By default, accessing a dictionary with an invalid key raises an error. The dict.get() method allows for safe handling of this search without throwing an error if the key does not exist. Rather it returns None or a provided value.

In [14]:
grouped.get('Sales')
grouped.get('HR', 'Not found')

'Not found'

## Pop / Delete

In [14]:
del d2['Tom']
print(d2)

{'George': 24, 'Jenny': 18}

In [15]:
popped_value = d2.pop('Jenny')
print(popped_value)

18

In [ ]:
popped_again = d2.